/* #region  Global css */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Oswald:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap&subset=vietnamese');
* {
	margin: 0;
	padding: 0;
}
html, body {
	font-family: 'Roboto Slab', sans-serif;
  height:100%;
}
#page-container {
  position: relative;
  min-height: 100%;
  transition: all 0.5s ease;

}

#footer-wrapper {
	transition: marign-left 0.5s ease, margin-right 0.5s ease;
}
.l-with-sidebar {
	margin-left: 350px;
	transition: marign-left 0.5s ease, margin-right 0.5s ease;
}
@media (min-width: 320px) and (max-width: 767.98px) {
	.l-with-sidebar {
		margin-left: 0;
		transition: marign-left 0.5s ease, margin-right 0.5s ease;
	}
}
@media (min-width: 768px) and (max-width: 1199.98px) {
	.l-with-sidebar {
		margin-left: 0;
	}
}
@media (min-width: 320px) and (max-width: 767.98px) {
	#show-rwd {
		margin-right: 0 !important;
	}
	.dropdown-menu {
		width: 100%;
		margin-right: 0 !important;
	}
}

.choosed {
	background-color: #f4f7fe!important;
}
.choosed a {
	color: #0277bd !important;
}

.hide {
	display: none;
}
/* #endregion */
/* ---------------------------------------------------------- */
/* #region  Top menu */
.top-Menu {
	border-bottom: 1px solid #ececec;
	padding: 5px 30px 5px 40px;
	background: white;
}
@media (min-width: 320px) and (max-width: 767.98px) {
	.top-Menu {
		padding: 1rem 15px 0 !important;
		min-height: 63px;
	}
}
.top-menu-text {
	font-size: 0.75rem;
	line-height: 1.5;
}
@media (min-width: 320px) {
	.top-menu-text {
		width: 100%;
		text-align: center;
	}
}
@media (min-width: 768px) {
	.top-menu-text {
		text-align: left;
		width: auto;
		max-width: 320px;
	}
}
@media (min-width: 768px) and (max-width: 1199.98px) {
	.top-menu-text {
		max-width: 200px;
	}
}
@media (min-width: 320px) and (max-width: 767.98px) {
	.top-menu-text {
		margin: 1rem 0;
		width: 100%;
		display: block;
	}
}
.top-menu-text i {
	margin-right: 0.5rem;
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: 'FlipH';
}
#topBar6 .top-menu-text {
	margin: 1rem 0;
	width: 100%;
	display: block;
}
/* #endregion */
/* ---------------------------------------------------------- */
/* #region  Side bar css */
#nav-drawer {
	padding: 17px;
	width: 350px;
	height: 100%;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	right: auto;
	background-color: #f8f8f8;
	transition: all 0.5s ease;
}

@media (min-width: 320px) and (max-width: 767.98px) {
	#nav-drawer {
		width: 100%;
	}
}

#nav-drawer.closed {
	left: -350px !important;
}
@media (min-width: 768px) and (max-width: 1199.98px) {
	#nav-drawer.closed {
		left: -350px !important;
	}
}
@media (min-width: 320px) and (max-width: 767.98px) {
	#nav-drawer.closed {
		left: -100% !important;
	}
}
@media (min-width: 320px) and (max-width: 1199.98px) {
	#nav-drawer.show-rwd {
		left: 0 !important;
	}
}
@media (min-width: 768px) and (max-width: 1199.98px) {
	#nav-drawer {
		left: -350px;
	}
}
@media (min-width: 320px) and (max-width: 767.98px) {
	#nav-drawer {
		left: -100%;
	}
}
.nav-list {
	background-color: #fff;
	transition: all 150ms cubic-bezier(0.55, 0.09, 0.68, 0.53);
}
.nav-list:hover {
	transform: scale(1.03);
	box-shadow: 0 1px 2px rgb(0 0 0 / 5%), 0 2px 3px rgb(0 0 0 / 5%),
		0 0 4px rgb(0 0 0 / 5%), 0 4px 5px rgb(0 0 0 / 5%);
}
/* #endregion */
/* ---------------------------------------------------------- */
/* #region  Page content css */

.Course-Process {
	padding: 1rem;
	box-shadow: rgb(0 0 0 / 5%) 0 0.5px 0, rgb(0 0 0 / 3%) 0 0 0 1px,
		rgb(0 0 0 / 5%) 0 2px 4px;
	border-radius: 5px;
}
/* #endregion */
/* ---------------------------------------------------------- */
/* #region  Footer css */

.footer{
  position:absolute;
  bottom:0;
  height:2rem;
  border-top: 1px solid #ececec;
  font-size: .875rem;
  color: #212121;
}
@media (min-width: 320px) and (max-width: 1199.98px) {
	.footer {
		text-align: center;
	}
}
@media (min-width: 320px) and (max-width: 767.98px) {
	.footer {
		text-align: center;
	}
}
.footer .copyright {
	font-weight: 700;
	margin-right: 1rem;
}
#footer-wrapper {
	width: 100%;
}
.contact {
	font-size: 0.75rem;
	color: #575967;
}
.contact li a {
	color: #575967;
}

.list-social .list-inline-item {
	margin-right: 1rem;
}
.list-social .list-inline-item:last-child {
	margin-right: 0;
}
.list-social .list-inline-item a {
	font-size: 1.25rem;
	color: #bfc0c2;
}
.list-social .list-inline-item a:before {
	display: none;
}
/* #endregion */
/* ---------------------------------------------------------- */
/* #region  Component css (button,dropdown)*/
.sidebar-btn {
	background-color: #0277bd;
	border: 0;
	border-radius: 45px;
	color: #fff;
	padding: 8px 13px;
	width: 41px;
	height: 41px;
	cursor: pointer;
	transition: all 350ms ease;
}
.sidebar-btn {
	border-radius: 5px;
	color: #000;
	background: #fff;
	border: 1px solid #e4e8f0;
	box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.05);
	transition: all 350ms ease;
}
.sidebar-btn:hover {
	background-color: #0277bd;
	color: #fff;
}
.mobile-topbar-btn {
	padding: 0;
	border: 0;
	background-color: transparent;
}
.mobile-topbar-btn i {
	background-color: #fff;
	border: 1px solid #e4e8f0;
	box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.05);
	border-radius: 45px;
	padding: 9px 0;
	width: 41px;
	height: 41px;
	cursor: pointer;
	font-size: 22px;
	color: #212121;
}
@media (min-width: 320px) and (max-width: 767.98px) {
	.sidebar-btn {
		top: 10px;
		left: 10px;
	}
	.mobile-topbar-btn {
		position: absolute;
		z-index: 1;
		top: 10px;
		right: 10px;
	}
}
.sidebar-btn-close {
	display: none!important;
}
@media (min-width: 320px) and (max-width: 1199.98px) {
	.sidebar-btn-close {
		transition: all 0.5s ease;
	}
	.show-rwd .sidebar-btn-close {
		opacity: 1;
		z-index: 9999;
    display: unset!important;
		cursor: pointer;
	}
	.show-rwd .sidebar-btn-close i {
		color: #fff;
	}
}
@media (min-width: 320px) and (max-width: 767.98px) {
	.show-rwd .sidebar-btn-close {
		left: calc(100% - 61px);
	}
}
/* #endregion */
/* ---------------------------------------------------------- */
