.assignment_box, .assignment_list{
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
}
.box-title{
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
    color: #2F80ED;
    padding-top: 8px;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 1.2px;
}
.list-wraper .item {
    margin-bottom: 2rem;
    padding: 1.1rem;
    border-radius: 10px;
    background: #fff;
}
.list-wraper {
    height: 550px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 2rem;
}
.list-wraper::-webkit-scrollbar {
	width: 0px;
}
.mini-box{
    height: 82px;
    width: 90px;
    border-radius: 10px;
    background: rgb(200 225 255 / 50%)!important;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: left;
}
.btn-assignment {
    background-color: #2F58E2;
    box-shadow: 0px 4px 16px #2f58e250, 0px 8px 24px #2f58e250, 0px 16px 56px #2f58e250;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 500;
    text-align: center;
}
.btn-assignment:hover{
    color: #ffffff;
    transform: scale(1.03, 1.03);
}
.btn-circle{
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: -1.20rem;
    right: -1.20rem;
}
.removed-item {
    animation: removed-item-animation .8s cubic-bezier(.65,-0.02,.72,.29);
}
 
@keyframes removed-item-animation {
   0% {
        opacity: 1;
        transform: translateX(0);
    }
 
    30% {
        opacity: 1;
        transform: translateX(50px);
    }
 
    80% {
        opacity: 1;
        transform: translateX(-800px);
    }
 
    100% {
        opacity: 0;
        transform: translateX(-800px);
    }
}
.new-item {
    opacity: 0;
    -webkit-animation: fadeIn .3s linear forwards;
    -o-animation: fadeIn .3s linear forwards;
    animation: fadeIn .3s linear forwards
}
@keyframes fadeIn {
  to {
    opacity: 1
  }
}
input {
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    outline: none;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 18px;
}
.input-group {
    position: relative;
    margin-bottom: 23px;
    -webkit-box-shadow: 0 8px 20px 0 rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
    box-shadow: 0 8px 20px 0 rgb(0 0 0 / 15%);
    padding: 16px 20px;
    padding-bottom: 10px;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.label {
    font-size: 12px;
    color: #999;
    text-transform: uppercase;
    display: block;
    font-weight: 700;
}
.input--style-1 {
    font-size: 18px;
    padding: 9px 0;
    color: #666;
}