#wrapper {
    overflow-x: hidden ;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper {
    width: 15.625rem;
}
@media (min-width: 320px) and (max-width: 767.98px) {
  #sidebar-wrapper {
    width: 20rem;
  }
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15.625rem;
    }
}
.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}
.sep {
    position: relative;
}
.sep:after {
    content: "";
    width: 2px;
    height: 22px;
    background-color: #ececec;
    position: absolute;
    right: -9px;
    top: calc(50% - 11px);
    border-radius: 2px;
}
