/* #region  global css */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}
a {
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
}
/* #endregion */

.l-with-sidebar {
  padding-left: 250px;
  -webkit-transition: padding-left 0.5s ease, padding-right 0.5s ease;
  -o-transition: padding-left 0.5s ease, padding-right 0.5s ease;
  transition: padding-left 0.5s ease, padding-right 0.5s ease;
}
.show {
    opacity: 1;
}
.hidden {
    display: none;
}
.pull-left {
  float: left !important;
}
.pull-right{
    float: right !important;
}

/* #region  Sidebar css */
@media (min-width: 320px) and (max-width: 767.98px) {

  #topBar6 .logo {
    margin: 0;
    padding: 0 0 1rem;
    width: 100%;
    text-align: center;
  }

  #topBar6 .c-custom-nav-container {
    width: 100%;
    display: block;
  }

  #topBar6 .c-custom-nav-btn {
    width: 100%;
    margin-bottom: 18px;
    display: block;
    text-align: center;
  }

  #topBar6 .c-custom-nav-btn i {
    line-height: 1.2;
  }

  #topBar6 .c-top-text {
    margin: 1rem 0;
    width: 100%;
    display: block;
  }

  #topBar6 .c-lang-menu {
    width: 100%;
    display: block;
  }

  #topBar6 .c-menu-sep:after {
    display: none;
  }

  #topBar6 .c-top-nav {
    padding: 0;
    margin: 0;
    width: 100% !important;
  }

  #topBar6 .usermenu .dropdown-menu.show {
    width: 97%;
  }

  #topBar6 .sidebar-btn {
    top: 10px;
    left: 10px;
  }

  #topBar6 .c-lang-menu .dropdown-toggle {
    min-width: auto;
    width: 100%;
    max-width: 100%;
  }

  #topBar6 .c-custom-nav {
    min-width: auto;
    width: 100%;
    max-width: 100%;
  }
  #topBar6 .c-lang-menu .dropdown-menu.show {
    text-align: center;
    min-width: auto;
    width: 100%;
    max-width: 100%;
  }

  #topBar6.s-top {
    padding: 1rem 15px 0 !important;
    min-height: 63px;
  }

  #topBar6 .c-user-menu {
    display: block;
    width: 100%;
    text-align: center;
  }

  .s-top-container {
    display: none;
  }
  .s-top-container.show {
    display: block;
  }
}
.sidebar-btn {
  background-color: #0277bd;
  border: 0;
  border-radius: 45px;
  color: #fff;
  padding: 8px 13px;
  width: 41px;
  height: 41px;
  cursor: pointer;
  -webkit-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
}
@media (min-width: 320px) and (max-width: 767.98px) {
  .sidebar-btn {
    position: fixed;
    z-index: 99999;
  }
}
.sidebar-btn:hover {
  background-color: #0277bd;
}
.sidebar-btn i {
  color: #fff;
}
.sidebar-btn:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.mobile-topbar-btn {
  padding: 0;
  border: 0;
  background-color: transparent;
}
@media (min-width: 320px) and (max-width: 767.98px) {
  .mobile-topbar-btn {
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;
  }
}
.mobile-topbar-btn i {
  background-color: #fff;
  border: 1px solid #e4e8f0;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: 45px;
  padding: 9px 0;
  width: 41px;
  height: 41px;
  cursor: pointer;
  font-size: 22px;
  color: #212121;
}
.mobile-topbar-btn:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.sidebar-btn {
  border-radius: 5px;
  color: #000;
  background: #fff;
  border: 1px solid #e4e8f0;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
}
.sidebar-btn i {
  color: #000;
}
.sidebar-btn:hover i {
  color: #fff;
}
.c-menu-sep {
  position: relative;
}
.c-menu-sep:after {
  content: "";
  width: 2px;
  height: 22px;
  background-color: #ececec;
  position: absolute;
  right: -9px;
  top: calc(50% - 11px);
  border-radius: 2px;
}
#topBar6 .c-menu-sep:after {
    display: none;
  }
.c-top-text {
  font-size: 0.75rem;
  line-height: 1.5;
}
@media (min-width: 320px) {
  .c-top-text {
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .c-top-text {
    text-align: left;
    width: auto;
    max-width: 320px;
  }
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .c-top-text {
    max-width: 200px;
  }
}
@media (min-width: 320px) and (max-width: 767.98px){
    #topBar6 .c-top-text {
        margin: 1rem 0;
        width: 100%;
        display: block;
    }
}
.c-top-text i {
  margin-right: 0.5rem;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
#topBar6 .c-top-text {
    margin: 1rem 0;
    width: 100%;
    display: block;
  }
.s-top {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  padding: 5px 30px 5px 40px;
  width: 100%;
  right: 0;
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .s-top {
    padding: 10px 20px;
  }
}
@media (min-width: 320px) and (max-width: 767.98px) {
  .s-top {
    padding: 0;
  }
}
#topBar6 .s-top {
  padding-bottom: 0;
}
.s-top.s-top--sidebar {
  width: 100%;
}
@media (min-width: 768px) {
  .s-top {
    position: relative;
    top: 0;
    left: auto;
    z-index: 3;
  }
}
#topBar6.s-top {
    min-height: 63px;
  }
@media (min-width: 320px) and (max-width: 767.98px) {
  .s-top .nav {
    width: 100%;
    padding: 5px 0;
  }
}
.s-top .nav li:empty {
  display: none;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-link {
  display: block;
  padding: 1rem;
  position: relative;
  color: #212121;
  border-radius: 5px;
  -webkit-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
}
.nav-link:hover,
.nav-link:focus {
  text-decoration: none;
}
.nav-tabs .nav-link {
  padding: 1rem;
}
.s-top .nav-link:hover {
  background-color: #f8f8f8;
}
.nav-link:hover {
  color: #212121;
}
.nav-link.disabled {
  color: #bfc0c2;
}
.dropdown-toggle {
  padding: 1rem 1.5rem;
}
.nav-tabs {
  border-bottom: 1px solid #ececec;
  font-size: 1rem;
}
.rtl .nav-tabs {
  text-align: right;
}
@media (min-width: 320px) and (max-width: 767.98px) {
  .nav-tabs .nav-link {
    padding: 1rem 0;
  }
}
.nav-tabs .nav-item {
  margin-bottom: -1px;
}
@media (min-width: 320px) and (max-width: 767.98px) {
  .nav-tabs .nav-item {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767.98px){
    #topBar6 .c-lang-menu .dropdown-toggle {
        min-width: auto;
        width: 100%;
        max-width: 100%;
    }
}
.nav-tabs .nav-link {
  font-weight: 400 !important;
}
.nav-tabs .nav-link:hover {
  color: #0277bd;
  border-radius: 0;
}
.nav-tabs .nav-link.disabled {
  color: #bfc0c2;
  background-color: transparent;
  border-color: transparent;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #0277bd !important;
}
.nav-tabs .nav-link.active:before,
.nav-tabs .nav-item.show .nav-link:before {
  width: 100%;
}
.dropdown-menu {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 9rem;
  z-index: 100000;
  display: none;
  padding: 0.5rem !important;
  border-radius: 5px;
  margin: 0.125rem 0 0;
  font-size: 0.75rem;
  color: #fff;
  text-align: left;
  list-style: none;
  background-color: #212121;
  -webkit-box-shadow: 2px 11px 54px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 2px 11px 54px 0 rgba(0, 0, 0, 0.6);
}
.dropdown-menu .dropdown-item {
    display: block;
    color: #9b9b9b;
}
.dropdown-menu a {
    display: block;
    padding: .5rem 1rem;
    color: #fff;
    -webkit-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.nav-tabs-sm {
  font-size: 0.875rem;
}
.nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center;
}
.nav-justified .nav-item {
  flex-basis: 0%;
  flex-grow: 1;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 767.98px) {
  .c-lang-menu .dropdown-toggle {
    display: block;
    margin: 10px 0;
  }
}
.c-lang-menu:empty + .c-top-text {
  margin-top: 16px;
}
@media (min-width: 768px) {
  .c-lang-menu {
    margin-right: 1rem;
  }
}
.c-lang-menu .dropdown-toggle {
  font-size: 0.75rem;
  padding: 0.85rem 1rem;
}
@media (min-width: 320px) and (max-width: 767.98px){
    .c-lang-menu .dropdown-toggle {
        display: block;
        margin: 10px 0;
    }
}
.c-lang-menu .dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.c-lang-menu .dropdown-toggle:empty::after {
  margin-left: 0;
}
#topBar6 .c-lang-menu {
    width: 100%;
    display: block;
  }
.c-lang-menu .dropdown-toggle{
    padding: .7rem 1rem;
    font-size: .75rem;
    line-height: 1;
    border-radius: 5px;
}
.c-lang-menu .dropdown-toggle, .dropdown-toggle{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    font-size: .85rem;
    font-weight: 500;
    color: #575967;
    text-decoration: none;
    -webkit-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
}
.c-lang-menu .dropdown-toggle{
    background: #fff;
    border: 1px solid #e4e8f0;
    -webkit-box-shadow: 0 2px 1px 0 rgb(0 0 0 / 5%);
    box-shadow: 0 2px 1px 0 rgb(0 0 0 / 5%);
    -webkit-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
}
#topBar6 .c-lang-menu .dropdown-toggle {
    min-width: auto;
    width: 100%;
    max-width: 100%;
}
.top-icons-nav {
  position: relative;
  padding: 0;
  line-height: 1;
}
.top-icons-nav:empty {
  display: none;
  padding: 0;
  margin: 0;
}
.top-icons-nav .popover-region-notifications {
  position: relative;
}
.top-icons-nav .nav-link {
  padding: 1rem;
}
.popover-region {
  float: right;
  position: relative;
}
.popover-region.collapsed .popover-region-toggle:before,
.popover-region.collapsed .popover-region-toggle:after {
  display: none;
}
.popover-region.collapsed .popover-region-container {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
}
@media (min-width: 320px) and (max-width: 767.98px){
    #topBar6 .c-user-menu {
        display: block;
        width: 100%;
        text-align: center;
    }
}
/* #endregion */

/* #region  Footer css */
.s-footer {
  margin-top: 40px;
  padding: 40px !important;
  border-top: 1px solid #ececec;
  font-size: 0.875rem;
  color: #212121;
}
@media (min-width: 320px) and (max-width: 1199.98px) {
  .s-footer {
    padding: 40px 30px !important;
  }
}
@media (min-width: 320px) and (max-width: 767.98px) {
  .s-footer {
    text-align: center;
  }
}
.s-footer .copy {
  font-weight: 700;
  margin-right: 1rem;
}
.c-container {
  width: 100%;
  -webkit-transition: padding-left 0.5s ease, padding-right 0.5s ease;
  -o-transition: padding-left 0.5s ease, padding-right 0.5s ease;
  transition: padding-left 0.5s ease, padding-right 0.5s ease;
}
.contact {
  font-size: 0.75rem;
  color: #575967;
}
.contact li a {
  color: #575967;
}
.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-social .list-inline-item {
  margin-right: 1rem;
}
.list-social .list-inline-item:last-child {
  margin-right: 0;
}
.list-social .list-inline-item a {
  font-size: 1.25rem;
  color: #bfc0c2;
}
.list-social .list-inline-item a:before {
  display: none;
}
/* #endregion */
