{% extends 'base.html' %}

{% block title %}
Course
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="row g-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
                    <li class="breadcrumb-item">Môn Học</li>
                    <li class="breadcrumb-item active" aria-current="page">
                        {% for id, name in course_list.items %}
                            {% if id == courseid|slugify %}
                                <a href="{% url 'home' %}{{id}}/">{{name|join:""}}</a>
                            {% endif %}
                        {% endfor %}
                    </li>
                </ol>
            </nav>
            <div class="Course-Content">
                <section class="project-wrapper">
                    <div class="row course-list-header mb-3">
                        <div class="cl-title col-lg-auto col-md-auto col-sm-auto ">
                            {% for id, name in course_list.items %}
                            {% if id == courseid|slugify %}
                            <h4>Danh Sách Dự Án Môn {{name|join:""}}</h4>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="cl-btn-group col-lg-auto col-md-auto col-sm-auto ms-auto">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button id="btn-prev" type="button" class="btn btn-outline-dark "><span><i class="fas fa-arrow-left fa-fw " aria-hidden="true" aria-label=""></i></span></button>
                                <button id="btn-next" type="button" class="btn btn-outline-dark "><span><i class="fas fa-arrow-right fa-fw " aria-hidden="true" aria-label=""></i></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="project-list-content mb-4">                
                        {% for Project_Name, Member in Student_data.items %}
                        <div>
                            <a href="" class="card text-decoration-none">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <rect width="100%" height="100%" fill="#868e96"></rect>
                                </svg>
                                <div class="card-body">
                                    <p class="card-text"><small class="text-muted">Khoa Công Nghệ thông Tin</small></p>
                                    <p>
                                        <h5 class="card-title">{{Project_Name}}</h5>
                                    </p>
                                    <footer class="blockquote-footer">Thành viên:
                                            {{Member|join:', '}}
                                    </footer>
                                    <footer class="blockquote-footer">Giảng Viên:
                                        {% for Teacher_Project_Name, Teacher in Teacher_data.items %}
                                            {% if Teacher_Project_Name == Project_Name %}
                                                {{Teacher|join:""}}
                                            {% endif %}
                                        {% endfor %}
                                    </footer>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </section>
                <div class="Project-Tittle">
                    <!-- <h4>{{courseid}} - {{CurrentCourseName}}</h4> -->
                </div>
                <div class="Course-Process">
                        {{Project_content |safe}}
                </div>
            </div>
        </div>
        
    </div>
    
{% endblock %}