{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div id="page-content">
    <div class="row g-0">
        <section class="page-wrapper">
            {% if user.is_Manager%}
            <!-- #region Giáo Viên quản lý-->
            <div class="row">
                <div class="col-lg-6">
                    <ul class="nav nav-pills mb-3 btnlist" id="pills-tab" role="tablist">
                        <li class="nav-item tabTitle" role="presentation">
                            <a class="nav-link" id="pills-dsgv-tab" data-bs-toggle="pill" data-bs-target="#pills-dsgv" type="button" role="tab" aria-controls="pills-dsgv" aria-selected="false">DANH SÁCH GIÁO VIÊN</a>
                        </li>
                        <li class="nav-item tabTitle" role="presentation">
                            <a class="nav-link active" id="pills-dssv-tab" data-bs-toggle="pill" data-bs-target="#pills-dssv" type="button" role="tab" aria-controls="pills-dssv" aria-selected="true">DANH SÁCH SINH VIÊN</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade rounded-3 shadow-sm w-100 show active" id="pills-dssv" role="tabpanel" aria-labelledby="pills-dssv-tab">
                            <div class="list-student">
                                {% for s in list_student_user%}
                                <div class="item shadow" onclick="">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="student-pic">
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="desc-student content">
                                                <h5 class="student-name">
                                                    {{s.get_full_name}}
                                                </h5>
                                                <div class="student-infor">
                                                    <p class="desc">Khoá: {{s.Class_id}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {%endfor%}
                            </div>
                        </div>
                        <div class="tab-pane fade rounded-3 shadow-sm w-100" id="pills-dsgv" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <div class="list-teacher">
                                {% for t in list_teacher_user%}
                                <div class="item shadow" onclick="">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="teacher-pic">
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="desc-teacher content">
                                                <h5 class="teacher-name">
                                                        {{t.get_full_name}}
                                                </h5>
                                                <div class="teacher-infor">
                                                    <p class="desc">thông tin giáo viên.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3"></div>
                <div class="col-lg-3"></div>
            </div>
            <!-- <div class="row mb-3">
                <div class="title col-lg-auto col-md-auto col-sm-auto ">
                    <h4>PHÂN CÔNG</h4>
                    <div class="list-btn">

                    </div>
                </div>
                <div class="slick-btn-group col-lg-auto col-md-auto col-sm-auto ms-auto">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button id="btn-prev" type="button" class="btn btn-outline-dark "><span><i class="fas fa-arrow-left fa-fw " aria-hidden="true" aria-label=""></i></span></button>
                        <button id="btn-next" type="button" class="btn btn-outline-dark "><span><i class="fas fa-arrow-right fa-fw " aria-hidden="true" aria-label=""></i></span></button>
                    </div>
                </div>
            </div> -->
            <div class="list-content">
                {% for p in Manager_project_list%}
                <div>
                    <a href="/confirm/{{ p.Project_ID }}/" class="card text-decoration-none">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#868e96"></rect>
                        </svg>
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">Khoa Công Nghệ thông Tin</small></p>
                            <h5 class="card-title">{{p.Project_Name}}</h5>
                            {% for u in p.Users.all%}
                            {% if u.is_Teacher %}
                            <p class="card-text"><small class="text-muted">Giáo viên mong muốn: <strong>{{u.get_full_name}}</strong></small></p>
                            {%else%}
                            <p class="card-text"><small class="text-muted">Sinh viên đăng kí: <strong>{{u.get_full_name}}</strong></small></p>
                            {%endif%}
                            {%endfor%}
                        </div>
                        <div class="card-footer">
                            <span class="text-muted">Khoá: {{p.schoolYear}}</span>
                        </div>
                    </a>
                </div>
                {%endfor%}
            </div>
            <!-- #endregion -->
            {% elif user.is_Reviewer %}
            <!--#region Giáo Viên phản Biện -->
            <!-- #endregion -->
            {% elif user.is_Teacher %}
            <!-- #region Giáo viên -->
            {% if Is_Confirm%}
            <div class="row mb-3">
                <div class="t-tittle col-lg-auto col-md-auto col-sm-auto ">
                    <h4>Danh Sách Đề Tài</h4>
                </div>
                <div class="slick-btn-group col-lg-auto col-md-auto col-sm-auto ms-auto">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button id="btn-prev" type="button" class="btn btn-outline-dark "><span><i class="fas fa-arrow-left fa-fw " aria-hidden="true" aria-label=""></i></span></button>
                        <button id="btn-next" type="button" class="btn btn-outline-dark "><span><i class="fas fa-arrow-right fa-fw " aria-hidden="true" aria-label=""></i></span></button>
                    </div>
                </div>
            </div>
            <div class="list-content c-item">
                {%for p in Teacher_project_list%}
                <div id="{{p.Project_ID}}">
                    <a href="/updatetask/{{ p.Project_ID }}/" class="card text-decoration-none">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#868e96"></rect>
                        </svg>
                        <div class="card-body">
                            <p class="card-text"><small class="text-muted">Khoa Công Nghệ thông Tin</small></p>
                            <h5 class="card-title">{{p.Project_Name}}</h5>
                            {% for u in p.Users.all%}
                            {% if not u.is_Teacher %}
                            <p class="card-text"><small class="text-muted">Sinh viên: <strong>{{u.get_full_name}}</strong></small></p>
                            {%endif%}
                            {%endfor%}
                        </div>
                        <div class="card-footer">
                            <span class="text-muted">Khoá: {{p.schoolYear}}</span>
                        </div>
                    </a>
                </div>
                {%endfor%}
            </div>
            {% else %}
            <div class="Waiting">
                <h1>Chưa có sinh viên đăng kí đề tài</h1>
            </div>
            {% endif %}
            <!-- #endregion -->
            {% else %}
            <!-- #region Sinh viên -->
            {% if request_pj%}
            <div class="Request">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ProjectRegister">Đăng kí đề tài</button>
            </div>
            {% else %}
            {% if Is_Confirm%}
            <div class="row mb-3">
                <div class="Process-list-content">
                    <section class="Project-Manager-wrapper">
                        <div class="Project-header d-flex mb-4 justify-content-between">
                            <div class="Project-Tittle">
                                <h1 class="display-5 fw-bold">{{student_project_data.1}}</h1>
                            </div>
                            <div class="toolbar hide">
                                <form name="task-update-form" method="post" action=".">
                                    {% csrf_token %}
                                    <input id="taskcontent" type="hidden" name="taskcontent" value="" />
                                    <input id="pjid" type="hidden" name="pjid" value="{{pk}}" />
                                </form>
                            </div>
                        </div>
                        <div class="task-wrapper">
                            <div class="todoScroll p-4">
                                {{student_project_data.2|safe}}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            {% else %}
            <div class="Waiting">
                <h1>Đang đợi Xác nhận</h1>
            </div>
            {% endif %}
            {% endif %}
            {% endif %}
            <!-- #endregion -->
        </section>
    </div>
    <!-- #region project register modal-->
    <div class="modal fade regprojectmodal" id="ProjectRegister" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ProjectRegisterLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg modal-fullscreen-lg-down ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ProjectRegisterLabel">Đăng Ký Dự Án</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="ProjectRegister" action="." method="POST">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            {{ register_form.Project_Name }}
                            <label>Tên Đề Tài</label>
                        </div>
                        <div class="form-floating mb-3">
                            {{ register_form.Type }}
                            <label>Loại Đề Tài</label>
                        </div>
                        <div class="form-floating mb-3">
                            {{ register_form.schoolYear }}
                            <label>Khoá</label>
                        </div>
                        <div class="form-floating mb-3">
                            {{ register_form.description }}
                            <label>Mô Tả Đề Tài</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select id="teacher" name="teacher" class="form-select" placeholder="Chỉ định giáo viên hướng dẫn">
                                <option value="" selected>---------</option>
                                {%for t in teacher%}
                                <option value="{{t.username}}">{{t.get_full_name}}</option>
                                {%endfor%}
                            </select>
                            <label>Giáo viên hướng dẫn mong muốn</label>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary mt-3 btn-lg" data-bs-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary mt-3 btn-lg">Đăng Ký</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->
</div>
{% endblock %}