{% extends 'base.html' %}
{% load static %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/Home/home.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/Library/slick.css' %}" type="text/css">
{% endblock %}
{% block SpecsCSS %}
{{ block.super }}
{% if not user.is_superuser and not user.is_Teacher and not user.is_Manager and not user.is_Reviewer%}
<link rel="stylesheet" href="{% static 'css/Home/HomeSpecs/home-student.css' %}">
{% endif %}
{% endblock %}
{% block scripts %}
{{ block.super }}
<script src="{% static 'js/library/slick.min.js' %}"></script>
<script src="{% static 'js/library/component.js' %}"></script>
{% endblock %}
{% block SpecsScripts%}
{% if not user.is_superuser and not user.is_Teacher and not user.is_Manager and not user.is_Reviewer%}
<script src="{% static 'js/Home/home-student.js' %}"></script>
{% elif not user.is_superuser and user.is_Teacher and not user.is_Manager and not user.is_Reviewer %}
<script src="{% static 'js/Home/home-teacher.js' %}"></script>
{% elif not user.is_superuser and not user.is_Teacher and user.is_Manager and not user.is_Reviewer %}
<script src="{% static 'js/Home/home-manager.js' %}"></script>
{% elif not user.is_superuser and not user.is_Teacher and not user.is_Manager and user.is_Reviewer %}
<script src="{% static 'js/Home/home-reviewer.js' %}"></script>
{% endif %}
{% endblock %}
{% block title %}
Home
{% endblock %}

{% block content %}
<div id="home-content" class="pt-4">
  <!-- #region Giáo Viên quản lý-->
  {% if user.is_Manager%}
  <div class="row g-0">
    <div class="col-lg-6">
      <div class="box-l bg-color mx-xxl-5 mx-xl-4 mx-lg-4 mx-md-3 mx-2 p-3 p-sm-3 p-md-3 p-lg-4 p-xl-3 p-xxl-5">
        <div class="row shadow tab-switch-wrapper nav nav-pills mb-3 ms-0 controlls-list" role="tablist">
          <div class="tab-switch sel-tab-0 text-center">
            <div class="tab-item active" tab-direction="sel-tab-0" id="pills-gv-tab" name="tab" role="tab"
              data-bs-toggle="pill" data-bs-target="#pills-gv" aria-selected="true">Giáo viên</div>
            <div class="tab-item" tab-direction="sel-tab-1" id="pills-sv-tab" name="tab" role="tab" data-bs-toggle="pill"
              data-bs-target="#pills-sv" aria-selected="false">Sinh viên</div>
          </div>
        </div>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade w-100  mb-4" id="pills-sv" role="tabpanel" aria-labelledby="pills-sv-tab">
            <div class="box-scroll p-xl-4 p-lg-4 p-md-3 p-sm-3 p-3 pt-4">
              {% for u in Users_list_Manager %}
              {% if not u.is_Teacher %}
              <div class="box box-item scale-hover mb-4" onclick="">
                <div class="row p-xl-3 p-lg-3 p-md-3 p-sm-3 p-3">
                  <div class="col-sm-2 mb-4 mb-md-0">
                    <div class="student-pic w-100 h-100 p-md-0 p-1">
                    </div>
                  </div>
                  <div class="col-sm-10">
                    <div class="desc-student content">
                      <h5 class="student-name">
                        {{u.get_full_name}}
                      </h5>
                      <div class="student-infor">
                        <p class="desc">Lớp: {{u.Class_id|default_if_none:'Chưa cập nhật'}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="tab-pane fade w-100 show active mb-4" id="pills-gv" role="tabpanel"
            aria-labelledby="pills-gv-tab">
            <div class="box-scroll p-xl-4 p-lg-4 p-md-3 p-sm-3 p-3 pt-4">
              {% for u in Users_list_Manager%}
              {% if u.is_Teacher%}
              <div class="box box-item scale-hover mb-4" onclick="">
                <div class="row p-xl-3 p-lg-3 p-md-3 p-sm-3 p-3">
                  <div class="col-sm-2 mb-4 mb-md-0">
                    <div class="teacher-pic w-100 h-100 p-md-0 p-1">
                    </div>
                  </div>
                  <div class="col-sm-10">
                    <div class="desc-teacher content">
                      <h5 class="teacher-name">
                        {{u.get_full_name}}
                      </h5>
                      <div class="teacher-infor">
                        <p class="desc">thông tin giáo viên.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3"></div>
  </div>
  <!-- #endregion -->
  <!--#region Giáo Viên phản Biện -->
  {% elif user.is_Reviewer %}
  <!-- #endregion -->
  <!-- #region Giáo viên -->
  {% elif user.is_Teacher %}
  <div class="box-l bg-color mx-xxl-5 mx-xl-4 mx-lg-4 mx-md-3 mx-2 p-3">
    {% if Projects_list_of_Teacher%}
    <p class="title fs-2">Danh sách được phân công</p>
    <div class="mb-2 input-group box search-box">
      <label class="search-label">tìm kiếm</label>
      <input id="ProjectSearchBox" type="text" class="input-search" placeholder="nhập gì đó">
    </div>
    <div id="ListTeacherProject" class="c-item">
      {%for p in Projects_list_of_Teacher%}
      <div id="{{p.id}}" class="box box-item bg-white me-5 p-3 scale-hover">
        <a href="/projectdetail/{{ p.id }}/" class="text-decoration-none">
          <p><small class="text-muted">Khoa Công Nghệ thông Tin</small></p>
          <p class="title fs-5 text-center">
            {{p.Project_Name|default_if_none:"Tên đồ án chưa cập nhật" }}
          </p>
          {% for u in p.Users.all%}
          {% if not u.is_Teacher %}
          <p class="card-text"><small class="text-muted">Sinh viên: <strong>{{u.get_full_name}}</strong></small></p>
          {%endif%}
          {%endfor%}
          <small>Khoá: <span class="text-muted year">{{p.schoolYear}}</span></small>
        </a>
      </div>
      {%endfor%}
    </div>
    {% else %}
    <div class="Waiting">
      <h1>Chưa có sinh viên nào được phân cho bạn! liên lạc người quản lý để phân sinh viên</h1>
    </div>
    {% endif %}
  </div>
  <!-- #endregion -->
  <!-- #region Sinh viên -->
  {% else %}
  {% if not StudentProject%}
  <div class="box mx-2">
    bạn chưa được phân giáo viên
  </div>
  {% else %}
  <div class="mx-2 row">
    <div class="col-4">
      <div class="box m-3 p-4">
        <div class="box p-3">
          <h5>{{StudentProject.Project_Name | default_if_none:"Tên đồ án chưa cập nhật"}}</h5>
          <p>Chủ đề : {{StudentProject.Type | default_if_none:"Chưa cập nhật"}}</p>
          <p>Giáo viên: 
          {% for u in StudentProject.Users.all %}
            {% if u.is_Teacher %}
              {{u.get_full_name}}
            {% endif %}
          {% endfor %}
            </p>
        </div>
        <div class="p-3">
          <p><span>3</span>/<span>6</span> công việc đã hoàn thành</p>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated process-bar-yellow" role="progressbar" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
          </div>
        </div>
        <ul id="StudentTaskList" class="box-scroll list-unstyled p-3">
          {% for st in Student_task %}
          {% if not st.parentTask %}
          <li id={{ st.id }} class="box box-item scale-hover mb-3">
            <div class="p-xxl-2 p-3">
              <div class="d-flex align-items-center">
                <div class="line mx-xxl-3 mx-xl-2 mx-lg-2 mx-md-2"></div>
                <div class="task-Content flex-fill ps-xxl-1 ps-3 mt-sm-0 mt-3">
                  <h3 id="tname">{{st.taskName}}
                  </h3>
                  <p id="tdesc">{{st.taskDesc|default_if_none:''}}</p>
                  <p id="tdesc">{{st.deadline|default_if_none:''}}</p>
                </div>
              </div>
            </div>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-8">
      <div class="mt-3 box p-4" style="height:796px">
        <div id="EmptyList" class="d-flex flex-column justify-content-center align-items-center h-100 ">
          <img style="width:309px;height:365px" src="{% static 'imageAssets/empty.png' %}" alt="">
          <p class="title mt-3 fs-2">Chọn task để xem thông tin</p>
        </div>
        <ul id="StudentChildTaskList" class="box-scroll p-3 d-none h-100">
          <!-- <li id="999" class="box box-item mb-3" style="cursor: unset;">
            <h2 class="accordion-header"><button id="BtnViewChildTaskItem" class="accordion-button task-processing" type="button" style="border-radius: 10px;"
                data-bs-toggle="collapse" data-bs-target="#ViewChildTask0Content" aria-expanded="true" aria-controls="">Task test</button> </h2>
            <div id="ViewChildTask0Content" class="accordion-collapse collapse show" aria-labelledby="" style="">
              <ul class="accordion-body">
                <li id="71" class="box input-group mb-3 d-flex align-items-center p-3"><input class="form-check-input"
                    type="checkbox" value="" id="chk71">
                  <label for="chk71" id="taskchilditemname" class="fs-5 flex-grow-1 ps-2">child of child of task test 1</label>
                </li>
                <li id="75" class="box input-group mb-3 d-flex align-items-center p-3"><input class="form-check-input"
                    type="checkbox" value="" id="chk75">
                  <label for="chk75" id="taskchilditemname" class="fs-5 flex-grow-1 ps-2">child of child of task test 1</label>
                </li>
              </ul>
            </div>
          </li> -->
          <!-- <div class="box box-item scale-hover mb-3" style="cursor: unset;">
            <h2 class="accordion-header" id="heading1">
              <button id="BtnViewChildTaskItem" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                Accordion Item #1
              </button>
            </h2>
            <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1">
              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
                <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
            </div>
          </div>
          <div class="box box-item scale-hover mb-3" style="cursor: unset;">
            <h2 class="accordion-header" id="heading1">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2"
                aria-expanded="false" aria-controls="collapse2">
                Accordion Item #1
              </button>
            </h2>
            <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2">
              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the
                <code>.accordion-flush</code> class. This is the first item's accordion body.
              </div>
            </div>
          </div> -->
        </ul>
      </div>
    </div>
  </div>
  <!-- <div class="student-task-wrapper">
      <div class="row pb-5">
        <div class="col-12">
          <ul class="box-scroll list-unstyled py-0 mb-0 p-xxl-0 p-md-4 p-3">
            {% for st in Student_task %}
              <li id={{ st.id }} class="box box-item position-relative scale-hover mt-4 mx-xxl-5 mx-xl-0 mx-sm-3 mx-4">
                <a id='btn-tdel'
                  class="btn btn-danger btn-circle btn-circle-icon position-absolute top-0 start-100 translate-middle btn-anim">
                  <i class="fas fa-times"></i>
                </a>
                <div class="row p-xxl-2 p-3" data-bs-toggle="modal" data-bs-target="#TaskModal" data-bs-whatever="@edittask">
                  <div class="col-sm-2 d-flex">
                    <div id="tprio" class="box box-label w-100 h-100 p-2">
                      {{st.priority}}
                    </div>
                  </div>
                  <div class="col-sm-10 d-flex align-items-center">
                    <div class="line mx-xxl-3 mx-xl-2 mx-lg-2 mx-md-2"></div>
                    <div class="task-Content flex-fill ps-xxl-1 ps-3 mt-sm-0 mt-3">
                      <h3 id="tname">{{st.taskName}}
                      </h3>
                      <p id="tdesc">{{st.taskDesc}}</p>
                      <div class="row assignment-info">
                        <div class="col-md-6">
                          <div class="todoDate">{{st.deadline}}</div>
                        </div>
                        <div id="daysleft" class="col-md-6">
                          NaN
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div> -->
  {% endif %}
  {% endif %}
  <!-- #endregion -->
  <!-- #region project register modal-->
  <div class="modal fade regprojectmodal" id="ProjectRegister" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="ProjectRegisterLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg modal-fullscreen-lg-down ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ProjectRegisterLabel">Đăng Ký Dự Án</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="ProjectRegister" action="." method="POST">
            {% csrf_token %}
            <div class="form-floating mb-3">
              {{ register_form.Project_Name }}
              <label>Tên Đề Tài</label>
            </div>
            <div class="form-floating mb-3">
              {{ register_form.Type }}
              <label>Loại Đề Tài</label>
            </div>
            <div class="form-floating mb-3">
              {{ register_form.schoolYear }}
              <label>Khoá</label>
            </div>
            <div class="form-floating mb-3">
              {{ register_form.description }}
              <label>Mô Tả Đề Tài</label>
            </div>
            <div class="form-floating mb-3">
              <select id="teacher" name="teacher" class="form-select" placeholder="Chỉ định giáo viên hướng dẫn">
                <option value="" selected>---------</option>
                {%for t in teacher%}
                <option value="{{t.username}}">{{t.get_full_name}}</option>
                {%endfor%}
              </select>
              <label>Giáo viên hướng dẫn mong muốn</label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary mt-3 btn-lg" data-bs-dismiss="modal">Đóng</button>
              <button type="submit" class="btn btn-primary mt-3 btn-lg">Đăng Ký</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- #endregion -->
</div>
{% endblock %}