<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'font/css/all.css' %}" type="text/css">
    <title>Đăng ký</title>
</head>

<body>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-3.6.0.min.js' %}"></script>
    <!-- <script src="{% static 'js/index.js' %}"></script> -->
    <script>
        $(document).ready(function () {
            $('.toast').toast('show')
            $('.is-invalid').click(function (e) { 
                $('.is-invalid').removeClass('is-invalid');
            });
        });
    </script>
    <div class="row g-0">
        <div class="w-100 position-relative">
            <section class="w-100">
                <div class="row g-0">
                    <div class="login-box">
                        <div class="login-box-block">
                            <a href="/" rel="nofollow noopener noreferrer">
                                <h2 class="text-center login-box-header" style="padding: 2rem; margin: 0"><img src="https://learn.lhu.edu.vn/pluginfile.php/1/core_admin/logo/0x200/1596891663/truong_dai_hoc_lac_hong_logo.png" title="Lac Hong University E-Learning System" alt="Lac Hong University E-Learning System"></h2>
                            </a>
                            <div class="login-box-body">
                                <div class="row justify-content-md-center">
                                    <div class="col-12">
                                        <form action="." method="POST">
                                            {% csrf_token %}
                                            <div class="form-floating mb-3">
                                                {{ form.username }}
                                                <label for="form.username">Tài Khoản</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                {{ form.email }}
                                                <label for="form.email">Nhập email</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                {{ form.password1 }}
                                                <label for="form.password1">Mật Khẩu</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                {{ form.password2 }}
                                                <label for="form.password2">Nhập lại mật Khẩu</label>
                                            </div>
                                            <button type="submit" class="btn btn-primary w-100 mt-3 btn-lg ">Đăng ký</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        <div data-bs-delay="7000" class="toast-container position-absolute p-3 top-0 end-0">{% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                    <script>
                        $('#{{field.auto_id}}').addClass('is-invalid');
                        id = $('#{{field.auto_id}}').attr('id')
                    </script>
                        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="toast-body">
                                {{ error|escape }}
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="toast-body">
                                {{ error|escape }}
                            </div>
                        </div>
                    {% endfor %}
            {% endif %}</div>
    </div>
</body>

</html>