{% extends 'base.html' %}

{% block title %}
Cập Nhật Công Việc
{% endblock %}

{% block content %}
<div class="page-content">
    <div class="row g-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
                <li class="breadcrumb-item">Quản Lý Dự Án</li>
                <li class="breadcrumb-item active" aria-current="page">
                    {%for p in unconfirm_project_list_by_id%}
                    <a href="/confirm/{{projectid}}/">{{p.Project_Name}}</a>
                    {% endfor %}
                </li>
            </ol>
        </nav>
        <div class="Project-Manager-Content">
            <section class="Project-Manager-wrapper">
                <div class="Project-header d-flex mb-4 justify-content-between">
                    <div class="Project-Tittle">
                        {%for p in cur_Project%}
                        <h1 class="display-5 fw-bold">Đồ án {{p.Project_Name}}</h1>
                        {%endfor%}
                    </div>
                    {%if null%}
                    <div class="toolbar hide">
                        <form name="task-update-form" method="post" action=".">
                                {% csrf_token %}
                            <input id="taskcontent" type="hidden" name="taskcontent" value="" />
                            <input id="pjid" type="hidden" name="pjid" value="{{pk}}" />
                            <div class="submitButtonBlue" data-bs-toggle="modal" data-bs-target="#AddTask">
                                <span>+</span>
                                <p class="addSubmitBlue">Thêm công việc</p>
                            </div>
                        </form>
                    </div>
                    {%else%}
                    <div class="toolbar">
                        <form name="task-update-form" method="post" action=".">
                            {% csrf_token %}
                            <input id="taskcontent" type="hidden" name="taskcontent" value="" />
                            <input id="pjid" type="hidden" name="pjid" value="{{pk}}" />
                            <div class="submitButtonBlue" data-bs-toggle="modal" data-bs-target="#AddTask">
                                <span>+</span>
                                <p class="addSubmitBlue">Thêm công việc</p>
                            </div>
                        </form>
                    </div>
                    {%endif%}
                </div>
                <div class="task-wrapper">
                    <div class="todoScroll p-4">
                        {%if null%}
                        <div class="px-4 py-5 my-5 text-center emptylist">
                            <h1 class="display-5 fw-bold">Danh sách công việc trống</h1>
                            <div class="col-lg-6 mx-auto">
                                <p class="lead mb-4">Hãy nhấn thêm công việc để tạo danh sách công việc.</p>
                                <div class="d-sm-flex justify-content-sm-center">
                                    <div class="submitButtonBlue" data-bs-toggle="modal" data-bs-target="#AddTask">
                                        <span>+</span>
                                        <p class="addSubmitBlue">Thêm công việc</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%else%}
                        {%for p in cur_Project%}
                                {{p.Project_Content|safe}}
                        {%endfor%}
                    </div>
                    
                    {%endif%}
                </div>
            </section>
        </div>
    </div>
    <div class="modal fade" id="AddTask" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="AddTaskLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg modal-fullscreen-lg-down ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddTaskLabel">Thêm Công Việc Mới</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="AddTask">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="taskname" placeholder="Nội dung công việc" required>
                            <label for="taskname">Nội dung công việc</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" placeholder="Thêm ghi chú" id="decs" style="height: 100px"></textarea>
                            <label for="decs">Thêm ghi chú</label>
                        </div>
                        <p>Mức độ ưu tiên</p>
                        <div class="d-flex prio-sel justify-content-center align-content-center mb-3">
                            <div class="btn-group" role="group" >
                                <input type="radio" class="btn-check" name="prio" value="Rất cao" id="veryhighprio" autocomplete="off">
                                <label class="btn btn-outline-primary" name="prio" for="veryhighprio">Rất cao</label>
                                <input type="radio" class="btn-check"  name="prio" value="Cao" id="highprio" autocomplete="off">
                                <label class="btn btn-outline-primary" name="prio" for="highprio">Cao</label>
                                <input type="radio" class="btn-check" name="prio" value="Vừa" id="medprio" autocomplete="off" checked>
                                <label class="btn btn-outline-primary" name="prio" for="medprio">Vừa</label>
                                <input type="radio" class="btn-check" name="prio" value="Thấp" id="lowprio" autocomplete="off">
                                <label class="btn btn-outline-primary" name="prio" for="lowprio">Thấp</label>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" >Ngày bắt đầu và kết thúc</span>
                            <input id="date-sel" name="dates" type="text" class="form-control" aria-describedby="date-sel" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary mt-3 btn-lg" data-bs-dismiss="modal">Đóng</button>
                        <button id="btn-add-task" type="button" class="btn btn-primary mt-3 btn-lg">Thêm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}